
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url('/Day2/assets/background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #090000;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(12, 0, 0, 0.8);
    padding: 1em;
    
   
}

nav .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1em;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    
    /*background-color: rgba(255, 255, 255, 0.8);*/
    margin: 2em;
    border-radius: 5px;
}

#home {
    text-align: center;
    padding-top: 22em;
    padding-bottom: 5em;
    
}

#form-container {
        max-width: 400px;
        margin: 8em auto;
        padding: 2em;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-container h2 {
    text-align: center;
    margin-bottom: 1em;
}

#form-container form {
    display: flex;
    flex-direction: column;
}

#form-container label {
    margin-top: 1em;
}

#form-container input {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#form-container button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#form-container button:hover {
    background-color: #555;
}

.error-message {
    color: red;
    margin-top: 0.5em;
}

/* Footer Styles */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .social-media {
    margin-top: 0.5em;
}

footer .social-media a {
    margin: 0 0.5em;
    color: #fff;
    text-decoration: none;
}
