body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #d2cdcd;
    box-shadow: 0 2px 4px rgba(3, 3, 3, 0.1);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5efef;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 80px;
    margin-right: 10px;
    width:80px
}

.search-contact {
    display: flex;
    align-items: center;
}

.search-contact input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 5px;
}

.contact-info span {
    margin-right: 10px;
    color: #ff7e5f;
}

.contact-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #eee;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons i {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
